/* Общие стили для страницы */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

/* Стили для иконки в правом верхнем углу */
.top-right-icon {
    position: absolute; /* Абсолютное позиционирование */
    top: 10px;          /* Отступ сверху */
    right: 10px;        /* Отступ справа */
    width: 50px;        /* Ширина иконки */
    height: 50px;       /* Высота иконки */
    object-fit: cover;  /* Масштабирование изображения без искажения */
}
